*{
	margin: 0;
	padding: 0;
}
body{
	background: #2C3E50;
	padding: 3%;
}
#canvas {
	display: block;
	margin: 0px auto;
	box-shadow: 3px 3px 3px #111;
	border: 1px solid #111;
}
#offCanvas {
	display: none;
}

